.datagrid-header {
  cursor: pointer;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background: #f5f5f5;
  }
}

.datagrid-header__sort {
  float: right;
  padding: 3px;
}
