.footer {
  z-index: 999;
  background: #95a5a6;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #34495e;
  text-align: center;
  padding: 5px;
}

.footer--home {
  position: absolute;
  margin-top: -35px;
  background: none; /* #95a5a6; */
  width: 100%;
  color: #fff;
}
