.location {
  width: 100%;
  padding: 20px;
  background: rgba(149, 165, 166, 0.5);
  display: flex;
  align-content: space-between;
  align-items: baseline;
}

.location__group {
  display: flex;
  align-items: baseline;
}

.location__label, .location__button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.location__label {
  width: auto;
}

.location__input, .location__button, .geosuggest__input {
  padding: 2px;
}

.location__input, .geosuggest {
  margin: 0 10px;

  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.location__button {
  flex: 1;
}

.location__address {
  flex: 2;

  & input { flex: 2; }
}

.location__postal {
  flex: 1;
}


/**
* The geosuggest module
* NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
*/
.geosuggest {
  position: relative;
  width: 100%;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
* A geosuggest item
*/
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
